*.mod
*.o
en_2phon_trun.dat
en_3phon_trun.dat
input_Fmat.dat
input_HFB.dat
input_nondiag.dat
input_TDA.dat
eqm2_MPI
eqm3_MPI
fmat
fullham
input
nondiag
phon_dens1
phon_int
tda
scratch
.vscode/launch.json
