*.mod
*.o
en_2phon_trun.dat
en_3phon_trun.dat
input_Fmat.dat
input_HFB.dat
input_nondiag.dat
input_TDA.dat
eqm2_MPI/1phonon
eqm2_MPI/AD_J_Pi.dat
eqm2_MPI/en_trun.dat
eqm2_MPI/input_tda_coup.dat
eqm2_MPI/run_admat.sh
eqm2_MPI/run_eqm.sh
eqm2_MPI/scratch
eqm2_MPI/singpart_coup.dat
eqm2_MPI/tda_r_overl.dat
eqm3_MPI/1phonon
eqm3_MPI/2phonon
eqm3_MPI/AD_J_Pi.dat
eqm3_MPI/en_trun.dat
eqm3_MPI/h_corr.dat
eqm3_MPI/input_tda_coup.dat
eqm3_MPI/run_admat.sh
eqm3_MPI/run_dens2.sh
eqm3_MPI/run_eqm3.sh
eqm3_MPI/scratch
eqm3_MPI/singpart_coup.dat
eqm3_MPI/tda_r_overl.dat
fmat/HF_n.out
fmat/HF_p.out
fmat/Input_files
fmat/input_space
fmat/vlk_hfb.dat
fullham/1phonon
fullham/2phonon
fullham/3phonon
fullham/Vint_phon2.dat
fullham/Vint_phon12.dat
fullham/Vint_phon23.dat
input/input.dat
input/vlk.dat
nondiag/1phonon
nondiag/2phonon
nondiag/fmat_n.dat
nondiag/fmat_np.dat
nondiag/fmat_p.dat
nondiag/fmat_pn.dat
nondiag/input
nondiag/input_tda_coup.dat
nondiag/scratch
nondiag/singpart_coup.dat
phon_dens1/1phonon
phon_dens1/input_tda_coup.dat
phon_dens1/run
phon_dens1/scratch
phon_dens1/singpart_coup.dat
phon_int/1phonon
phon_int/fmat_n.dat
phon_int/fmat_np.dat
phon_int/fmat_p.dat
phon_int/fmat_pn.dat
phon_int/input_tda_coup.dat
phon_int/run
phon_int/scratch
phon_int/singpart_coup.dat
tda/fmat_n.dat
tda/fmat_np.dat
tda/fmat_p.dat
tda/fmat_pn.dat
tda/Input_files_tda
tda/input_tda_coup.dat
tda/log
tda/phon_struct.dat
tda/r1Y1_n.dat
tda/r1Y1_p.dat
tda/singpart_coup.dat
eqm2_MPI/eqm_admat
eqm2_MPI/eqm_svd
eqm3_MPI/eqm3_admat
eqm3_MPI/eqm3_svd
eqm3_MPI/phon_dens2_MPI
fmat/fmat
fullham/fullham
input/HFB_DD
nondiag/nondiag
phon_dens1/phon_dens1_MPI
phon_int/phon_int_MPI
tda/tda
